@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);
html,
body {
  height: 100%;
  /*background-color: #333;*/
  background: url('/images/bg.png') no-repeat;
  background-color: #DEF0F0;
  background-size: 100%;
}
body {
  /*color: #fff;*/
  color: #000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.cover{
  margin-bottom: 50px;
}

.cover > h1 {
  font-family: 'Pinyon Script', cursive;
  font-size: 80px;
  color: #0088CB;
}

/*
 * Footer
 */

.mastfoot {
  /*color: #0088cb;*/
  margin-top: 20px;
}

.mastfoot > .social-network {
  margin-bottom: 5px;
}

.box {
  min-height: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

.box .glyphicon {
  font-size: 70px;
}

.masthead > .inner {
  margin: 0 auto;
  width: 50%;
}

@media (min-width: 992px) {
  .network{
    border-left: solid 2px #000;
    border-right: solid 2px #000; 
  }
}

