*
{
	margin: 0px;
	padding: 0px;
	border:0px;
}

body
{
    background-color:#111118;
}

@font-face
{
    font-family:Aileron-UltraLight;
    src: url(../fonts/Aileron-UltraLight.otf);
    font-weight:normal;
    font-style: normal;
}

div.col-md-12
{
	padding:0px;
}

section#interface
{
	background-color:#606060;
	
}


section#interface img
{
	width:100%;
	height: 100%;

}


footer#rodape
{
    background-color:#111118;
    height:100%;

}

footer#rodape h1
{
    color: #fff;
    font-size: 30pt;
    font-family:Aileron-UltraLight;

}

footer#rodape ul.lista_rodape
{
    list-style: none;
    color: #fff;
    font-family:Aileron-UltraLight;
    font-size: 13pt;
}

img.icone
{
    width: 35px;
    height: 35px;
    display: inline;
    margin-right:15px;
    cursor: pointer;
}